
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-6 col-md-4"><div class="page-header">
    <h3>Today</h3>
  </div></div>
  <div class="col-6 col-md-4"><div class="page-header">
    <h3>Tasks</h3>
  </div></div>
  <div class="col-6 col-md-4" style="border-right: none;"><div class="page-header">
    <h3>Coming Soon</h3>
  </div></div>
</div>