<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyStudyNavigator</title>
    {{>head}}
  </head>
  <body>
    <div id="content">
      {{>page_header}}
      <!--<div id="app-content">-->
          {{{body}}}
      <!--</div>-->
      {{>page_footer}}
    </div>
  <script type="application/javascript">
    $(document).ready(function () {

      $('[data-toggle="tooltip"]').tooltip();

      $.each($('.nav').find('li'), function() {
        $(this).toggleClass('active',
            $(this).find('a').attr('href') == window.location.pathname);
      });

      $('.carousel').carousel({
        interval: 5000
      });

      // Highlight the top nav as scrolling occurs
      $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 51
      });

      // Offset for Main Navigation
      $('#mainNav').affix({
        offset: {
          top: 100
        }
      })

    });
  </script>
  </body>
</html>
