<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="app-icon" alt="StudyPlanner" src="/images/student.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
          <a href="/user/dashboard">
            <div id="dashboard-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">dashboard</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="/user/calendar">
            <div id="calendar-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">event</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="/user/assignments">
            <div id="assignments-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">playlist_add_check</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="/user/schedule">
            <div id="schedule-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">schedule</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="/user/search">
            <div id="search-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">search</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="/user/settings">
            <div id="settings-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">settings</i>
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="about">
            <div id="about-nav-button" class="nav-item">
              <i class="material-icons md-light md-24">info</i>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>