<div id="left-nav">
  <div id="app-icon" class="nav-item"></div>
  <a href="dashboard">
      <div id="dashboard-nav-button" class="nav-item">
          <i class="material-icons md-light md-24">dashboard</i>
      </div>
  </a>
  <a href="calendar">
    <div id="calendar-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">event</i>
    </div>
  </a>
  <a href="assignments">
    <div id="assignments-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">playlist_add_check</i>
    </div>
  </a>
  <a href="schedule">
    <div id="schedule-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">schedule</i>
    </div>
  </a>
  <a href="search">
    <div id="search-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">search</i>
    </div>
  </a>
  <a href="settings">
    <div id="settings-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">settings</i>
    </div>
  </a>
  <a href="about">
    <div id="about-nav-button" class="nav-item">
      <i class="material-icons md-light md-24">info</i>
    </div>
  </a>
</div>