<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    {{>head}}
  </head>
  <body>
    {{>page_header}}
    {{>left_nav}}
    <div id="app-content">
        {{{body}}}
    </div>
    {{>page_footer}}
  </body>
</html>
